*.Rproj
.Rproj.user
.Rhistory
.Rapp.history
.RData
.RDS
.Ruserdata
.DS_Store

*.xlsx
!~$*.xlsx

**/work*
**/.nextflow*

simulations/data/**
!simulations/data/**/
!simulations/data/**/.gitkeep
simulations/results/*
simulations/tracing/*
simulations/figures/*

real_data/data/**
!real_data/data/**/
!real_data/data/**/.gitkeep
real_data/testing/*
real_data/results/*
real_data/tracing/*
real_data/figures/*
real_data/modules/gz_to_besd.nf
real_data/data/raw/conf/UKBB_Neale_traits_test.xlsx

reporting/*
tmp/*
paper/*
