// Global workflow default parameters
// set as params.<parameter>
params {
    split_Lotta = false
    use_waypoints = false

    cis = false
    pleiotropy = true
    test = false

    instrument_pval_threshold = 5e-08
    mediators = "Lotta_et_al_2021" // "INTERVAL_plasma_proteins"
    mediator_pval_threshold_from_exposure = "Bonferroni" // 0.05
    mediator_pval_threshold_to_outcome = "Bonferroni" // 0.05
    mediator_cor_threshold = 0.9
}

// Profile definitions
profiles {
    standard {
        process.executor = "local"
        process.cpus = 1
        process.memory = 7.GB
    }

    local_conda {
        process.conda = "/opt/miniconda3/envs/ML_mediated" // And not e.g. environment.yml, to ensure aarch64
        conda.enabled = true
    }

    local_docker {
        docker.enabled = true
        process.container = "real_data"
    }

    urblauna {
        includeConfig "config/urblauna.config"
    }
}

/*
 * Tracing and visualisation (https://github.com/nextflow-io/nextflow/issues/3186)
 */
 def timestamp = new java.util.Date().format( 'yyyyMMdd_HHmmss')
timeline {
    enabled = true
    file = "tracing/timeline_${params.mediators}_${timestamp}.html"
}

report {
    enabled = true
    file = "tracing/report_${params.mediators}_${timestamp}.html"
}

trace {
    enabled = true
    file = "tracing/trace_${params.mediators}_${timestamp}.txt"
}

dag {
    enabled = true
    file = "tracing/dag_${params.mediators}_${timestamp}.svg"
}
