executor {
    name = "slurm"
    queueSize = 200
    submitRateLimit = 1
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    container = "/users/klepik/software/project_dependencies/ML_mediated/real_data/ML_mediated_application.sif"
    
    errorStrategy = "retry"
    maxRetries = 2

    cpus = 1
    memory = 1.GB

    withName: split_Lotta {
        memory = 1.GB
        time = 5.h
    }

    withName: prepare_mediation_data {
        memory = 20.GB
        time = 5.h
    }

    withName: concat_mr_ivw {
        memory = 500.MB
        time = 5.min
    }

    withName: harmonize_data {
        memory = 10.GB
        time = 40.m
    }

    withName: mr_ivw_analysis {
        memory = 8.GB
        time = 40.m
    }

    withName: prepare_summary_statistics {
        memory = 64.GB
        time = 5.h
    }

    withName: mediation_analysis {
        memory = 24.GB
        time = 1.h
    }

    withName: mediator_contributions {
        memory = 24.GB
        time = 5.h
    }

    withName: concat_mediation_analyses {
        memory = 10.GB
        time = 1.h
    }

    withName: eQTL_analysis {
        memory = 300.GB
        time = 3.h
    }

    withName: common_mediator_SNPs_gz {
        memory = 25.GB
        time = 5.h
    }

    withName: common_mediator_SNPs_bed {
        memory = 20.GB
        time = 1.h
    }

    withName: lift_to_hg19 {
        memory = 10.GB
        time = 1.h
    }

    withName: common_SNPs_merged {
        memory = 10.GB
        time = 1.h
    }

    withName: common_significant_SNPs {
        memory = 10.GB
        time = 2.h
    }

    withName: format_esd {
        memory = 10.GB
        time = 1.h
    }

    withName: format_flist {
        memory = 1.GB
        time = 5.min
    }

    withName: combine_besd {
        memory = 10.GB
        time = 24.h
    }

    withName: common_trait_SNPs {
        memory = 10.GB
        time = 2.h
    }

    withName: common_analysis_SNPs {
        memory = 20.GB
        time = 1.h
    }

    withName: clump_mediators {
        memory = 5.GB
        time = 1.h
    }

    withName: clump_exposures {
        memory = 5.GB
        time = 1.h
    }

    withName: mediator_output_data {
        memory = 5.GB
        time = 2.h
    }

    withName: concat_mediator_output_data {
        memory = 1.GB
        time = 4.h
    }

    withName: concat_mediator_exposure_data {
        memory = 1.GB
        time = 30.min
    }

    withName: prepare_mediation_data_single {
        memory = 50.GB
        time = 5.h
    }
}
